[Unit]
Description="w3mo web ui service"
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/w3mo_ui
ExecStart=/usr/bin/python3 /w3mo_ui/app.py -p

[Install]
WantedBy=multi-user.target
